<!DOCTYPE html>
<html>
<head>
   <title>Scavenger's Repo</title>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.min.js"></script>
   <script src="index.js"></script>
   <link href="styles.css" rel="stylesheet" type="text/css">
  <!--
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">
   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
   <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
-->

   <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.0/css/materialize.min.css">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.3/js/materialize.min.js"></script>
</head>




<body ng-app="AppForHTML" ng-controller="backgroundController" ng-style="bgImg" >
  <!-- <h1 ng-style="bgImg">Hello World</h1> -->
  <img style="position: absolute; width: 100%; height: 20px;" src="https://s3-us-west-1.amazonaws.com/scavengers-repo.com/images/dark-wood-flooring-samples-keramogranit-dark-wood-floors-dark-plank-wood-image.jpg">
  <!--=================================================HEADER===================-->
  <div style="text-align: right;" ng-controller="ctrl1">
    <img id="banner" src="https://s3-us-west-1.amazonaws.com/scavengers-repo.com/images/Banner.png">
    <p style="padding-right: 100px;font-size: 120%;">{{profile}}</p>
    <!--  <input ng-model="profile"> -->
  </div>







  <!--MENU-->
<div ng-controller="TabController">
  <div class="row"> <!--One big gigantic row for both side menu and content-->
    <div class="col s2 m2 l2">
      <div class="sideMenu">
          <ul >  <!--adopts that particular "active" css characteristc if isSet(1) is true-->
              <li ng-class="{active: isSet(1)}">
                <button class="waves-effect waves-light btn transparent" ng-click="setTab(1)">Home</button>
              </li>

              <li ng-class="{active: isSet(2)}" >
                <button class="waves-effect waves-light btn transparent" ng-click="setTab(2)">Projects</button>
              </li>

              <li ng-class="{active: isSet(3)}" >
                <button class="waves-effect waves-light btn transparent" ng-click="setTab(3)">World Building</button>
              </li>
              <li ng-class="{active: isSet(4)}" >
                <button class="waves-effect waves-light btn transparent" ng-click="setTab(4)">Useful Links</button>
              </li>
              <li ng-class="{active: isSet(5)}" >
                <button class="waves-effect waves-light btn transparent" ng-click="setTab(5)">About</button>
              </li>
          </ul>
      </div> <!--====================SIDE MENU DIV ENDS HERE ---------->
    </div> <!--====================COLUMN s12 m6 ends for the first ---------->

<!--====================ACTUAL CONTENT BEGINS ---------->
 <p>   &nbsp</p>
      <div class="col s9 m9 l9" id="contentContainer" >


            <p>
              <div id="Home" ng-if= "isSet(1)">
                {{homeContent}}
              </div>

              <div id="Projects" ng-if= "isSet(2)">
                {{projects}}
              </div>

              <div id="World Building" ng-if= "isSet(3)">
                {{worldBuilding}}
              </div>
              <div id="Useful Links" ng-if= "isSet(4)">
                {{breadCrumbs}}
              </div>

              <div id="About" ng-if= "isSet(4)">
                {{about}}
              </div>
            </p>
      <!--  </div> <!===================CONTENT ENDS HERE ---------->
      </div><!--====================COLUMN s12 m6 ends for the first ---------->
    </div> <!--Div class is row-->


</div>  <!--ng-controller="TabController"-->

<!--
<div ng-controller="Content">
 TABS

    <div class="row">
      <div class="col s12">
        <ul class="tabs">
          <li class="tab col s3"><a href="#home" class="active">Home</a></li>
          <li class="tab col s3"><a href="#projects">Projects</a></li>
          <li class="tab col s3"><a href="#contact">Contact</a></li>
        </ul>
      </div>
    </div>



  <h1>Content</h1>
  <div id="home" class="col s12">Home <p>{{ homeContent }} </p></div>
  <div id="projects" class="col s12"><p>Projects {{ projects }}</p></div>
  <div id="contact" class="col s12"><p>Content {{ contact }}</p></div>


</div> -->


</body>



</html>
