body
		{
			background-color:#000000;
			background-image: radial-gradient(rgba(0,0,0,.2), rgba(1,0,0, 1)), url(https://s3-us-west-1.amazonaws.com/scavengers-repo.com/images/AutumnMoodBoard/960.jpg);
			background-attachment: fixed;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  }

#contentContainer {
	background-color: rgba(255, 255, 255, 0.5);
	padding-left: 5%;
	padding-right: 5%;
}
#banner{
	right: 0px;
	top: 10px;
	text-align: right;
	position: static;
}



@media only screen and (max-width: 320px) {

   body { font-size: 2em; }

}

p {
    color: white;
}



button{
	max-width: 200;
	border-style: none;

}

li {
	padding-top: 2%;
	padding-bottom: 2%;
	color: white;
	text-align: right;
	list-style-type: none;

}
li:hover{
	background: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255, 0.8));
}


.sideMenu{
  background: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255, 0.3));
	text-align: right;

	max-width: 200%;


}

.sideMenuItem{
	font-size: 150%;
	max-width: 200%;
	white-space:normal;
	word-wrap:normal;
	border-style: none;
	font-weight: bold;

	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
	background: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255, 0.5));
	text-decoration: line-through;
}




.sideMenuItem:active{

		font-size: 150%;

}
