body
	{
		background: black;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
		white-space:inherit;
		font-size:1vw;
  }

@font-face {
		font-family:"AugustaShadow";
		src: url('../app/fonts/Augusta-Shadow.ttf');
}

#contentContainer {
	min-height: 40vh;
	overflow-y: scroll;
	background-color: #000001;
	color: #e6edf7;
	margin-right: 20px;
	margin-bottom: 10px;
	margin-top: 2vh;
	padding-left: 1%;
	padding-right: 1%;
	padding-bottom: 1%;
	border-style: double;
	border-width: medium;
	border-color: rgba(255,255,255,0.5);
	float: right;
	display: inline-block;
}

button{
	text-shadow: 0 0 0.2em #a8cbff, 0 0 0.2em #a8cbff;
}

/*referring to div*/
.topMenu{
	margin: 0 auto;
	top: 0;

	left: 0;
	right: 0;
	padding: 10px 5px 5px 5px;

	text-transform: uppercase;
	font-weight: bold;
	font-size: 12px;
	color: #e6edf7;
	background-color:black;

	position: fixed;
	z-index: 5;

	border-color: rgba(255,255,255,0.8);
	border-width: 1px;
	border-bottom-style: solid;
	text-align: left;
	padding-left: 10px;
	text-shadow: 0 0 0.2em #a8cbff, 0 0 0.2em #a8cbff;
	vertical-align: middle;
}

.topHeader{
	text-align: left;
	float: left;
	font-size: 6px;
	text-shadow: 0 0 0.2em #a8cbff, 0 0 0.2em #a8cbff;
	margin-right: 50px;
}

.topsubtext{
	margin-left: 50px;
}

.bottomHeader{
	margin-left: 50px;
	text-align: left;
	float: left;
	font-size: 8px;
}

.circleImage{
	background-image: url("https://s3-us-west-1.amazonaws.com/scavengers-repo.com/images/VoidRune2.png");
	width: 40px;
	height: 40px;

	position: fixed;

	background-position: center;
	background-origin:padding-box;
	background-size: 75px 45px;

  filter: grayscale(100%);

	-webkit-clip-path: circle(50% at 50% 50%);
	clip-path: circle(50% at 50% 50%);

}

p.btn-flat{
	color: white;
	font-size: 1em;
}

.materialsDiv{
    background-color: rgba(255,255,255, .5);
    color: #e6edf7;
    padding: 1% 5% 1% 5%;
}

.dormantTab{
    display: none;
}
.activeTab{
    display: inline;
}

body.card.horizontal .card-image img{
	width: 50%;

}
body.activator{
	width: 505;
}

.card-image>img{
	  overflow: hidden;
}

.displayWebsiteIframe{
	height: 50%;
}

.card .card-image img{
	width: 70%;
}
/*-------  animations  ---------*/

@-webkit-keyframes fadeOut {
	0%    {opacity: 1;}
	50%  {opacity: 0; }
	100%  {opacity: 1; }
}
@-webkit-keyframes fadeIn{
	0%    {opacity: 0;}
	50%  {opacity: 1; }
	100%  {opacity: 0; }
}


.parallax{
	color: white;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 500px;
		z-index: -10;
		width: 100%;
		position: fixed;
		top: 0;

	-webkit-transition: 5s;
	-moz-transition: 5s;
	-o-transition: 5s;
	transition: 5s;
}

.parallax2{
	color: white;
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 500px;
	z-index: -10;
	width: 100%;
	position: fixed;
	top: 0;

	-webkit-transition: 5s;
	-moz-transition: 5s;
	-o-transition: 5s;
	transition:  5s;
}


.bannerContainer{
	margin: 0 auto;
	height: 120px;
	position: relative;
	top: calc(1vh - 100px);
	width: 100%;
	background-repeat: repeat;
	background-position: center;
	z-index: 1;
}
.banner{
	margin: 0 auto;
	height: 120px;
	position: relative;
	padding-top: 40px;
	padding-bottom: 0.1px;
	color: #e6edf7;
	width: 100%;
	margin-top: 500px;
	background-color: black;
	z-index: 1;
	text-align: center;
}

.bannerShape{
	text-align: center;
	padding-top: 100px;
	padding-bottom: 100px;
	background-color:(0,0,0,0);

	z-index: 2;
	opacity: .95;
	margin-right: auto;
	margin-left: auto;
	height: 300px;
	width: 400px;
	position: relative;
  top: calc(90vh - 410px);
	color: #e6edf7;


}


.CenterText{
	margin-right: auto;
	margin-left: auto;
	font-size: 2.5em;
	text-align: center;
	text-shadow: 0 0 0.2em #a8cbff, 0 0 0.2em #a8cbff;;
}

/*-------------------------
/*----- Side Menu Materials */
#sideMenu{
	background-color: #000001;
	color: #e6edf7;
	float: left;
	margin-left: 20px;
	width: 12vw;
	margin-top: 2vh;
	border-style: double;
	border-color: rgba(230, 237, 247,0.5);
	text-shadow: 0 0 0.2em #a8cbff, 0 0 0.2em #a8cbff;
	padding-left: 3px;
	padding-right: 3px;
	height: 100%
}

@media only screen and (max-width: 1000px) {
	#sideMenu {
	      display: none;
    }
	#contentContainer {
		float: none;
		margin-left: 8%;

	}
}



.sideMenuItem{
	font-size: 80%;
	padding: 4px 30px 4px 4px;

	word-wrap: break-word;
	font-size: 1.5em;
	min-height: 4vw;
	min-width: 15vw;


	background: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0, 1));
	text-overflow: ellipsis;
	text-align: right;

	border-color: white;

	border-left-style: none;
	border-bottom-style: none;
	border-right-style: solid;
	border-color: rgba(255,255,255, 0.2);
	border-right-width: thin;
}

.sideMenuItem:hover{
	font-size:160%;
	font-weight: bold;

}

.sideMenuItem:active{
	font-size:150%;
		text-decoration-line: underline;
}

.menuImg{
	width: 8vw;
	height: 8vw;
	margin-left: 14.5%;
	margin-top: 10px;

}

.sideMenuText{
	font-size: .8em;
	margin-left: 1em;
	margin-right: 1em;
	font-family: 'Gibson', sans-serif, sans-serif;
	font-size: 100%;
	line-height: 1.5;
	word-wrap: break-word;
}


ul.sideMenuLinks{
		list-style-type: none;
    padding: 0;
    overflow: hidden;

}
li.sideMenuLinksLI{
	float: left;
}

a.sideMenuLinksA{
	display: block;
    color: white;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
}

.sideMenuLinksA:hover{
	background-color: #111;
}


.v1 {
    border-top: 1px solid white;
    height: 35px;
		border-style: solid;
		width: 1px;
		border-width: 1px;
		position: absolute;
		margin-left: 220px;
		margin-top: 5px;
}

/*-------------------------
/*----- Project Card Components */

.horizontalDisplay{
	list-style: none;
}
.horizontalDisplay li{
	display: inline;
	margin-bottom: 0;
	margin-top: 0;
}
.projectCardParent h4{
	font-size: 2em;
	padding-top: 28%;
}
.projectCardParent{
	background-color: rgba(255,255,255,1);
	display:inline-flex;
	width: 33.28%;
  height: 25em;
	text-align: center;
	text-shadow: 1px 2px #000000;
	font-weight: bold;
	box-sizing: border-box;
}
.projectCardParent:hover{
	-webkit-filter: brightness(50%); /* Safari */
	filter: brightness(60%);
	color: white;
	text-shadow: 0 0 1em #a8cbff;
	text-decoration-color: white;
  background-color: gray;
	width: 33.28%;
	height: 25em;
	display: inline-block;
	text-align: center;
	margin-top: auto;

	text-shadow: 1px 2px #000000;
	font-weight: bold;
}


.projectCardParent2{
	background-color: rgba(255,255,255,1);
	display:inline-flex;
	width: 33.28%;
  height: 20px;
	text-align: center;
	text-shadow: 1px 2px #000000;
	font-weight: bold;
	box-sizing: border-box;
}


.projectCardChild1{
	position: absolute;
	width: 27%;
	height: 25em;

}
.projectCardChild2{
		opacity: .01;
		text-align: left;

		position: absolute;
    width: 27%;
    height: 25em;
}

.projectCardChild2:hover{
	 	opacity: 1;
		text-align: left;
		position: absolute;
    width: 27%;
    height: 25em;
}
.projectCardChild2 p{
		padding-top:45%;
		padding-left: 2%;
		padding-right: 2%;
		font-size: 0.8em;
}

.linkStyle{
	text-align: right;
	margin-right: 30px;
	text-shadow: 0 0 1px black, 0 0 1px black;
	font-size: 1.5em;
}



/* ------------------ load Spellbook materials
*/
div.projectComponentDisplay{
	background-color: black;
	color: black;
	background-image: url(https://orig00.deviantart.net/e8e0/f/2011/247/6/e/old_paper_stock_02_by_ftourini-d48ubt0.png);
	padding: 10% 10% 10% 10%;
	background-attachment: fixed;
	background-position-y: 100px;
	background-position-x: 38%;
	background-size: 48% 100%;
	font-size: 1.4em;
	background-repeat: no-repeat;
	width: 100%;
	height: calc(600px + 50em);
	overflow-y: scroll;
}
.centerIllustration{
	display: block;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
}
.centerIllustration2{
	display: block;
	width: 40%;
	margin-left: auto;
	margin-right: auto;

}
.rightIllustration{
	width: 50%;
	float: right;
}
.rightIllustration2{
	width: 30%;
	float: right;
}
.leftIllustration{
	width: 50%;
	float: left;
}

.mainTitle{
	font-family: "Cardinal";
	text-align: center;
	margin-top: 25%;
}

.subTitle{
	font-family:"Cardinal";
	text-align: center;
	font-size: 0.8em;
}

div.quoteBox{
	border-style: double;
	background-color: rgba(0, 0, 0, 0.3);
	padding: 10px 10px 10px 10px;
	text-align: center;
}

img.screenshot{
	width: 100%;
}

.wordart{
	font-family :"Courier New", Courier, monospace;
	font-size: 2em;
}

.projectComponentDisplay p{
	font-size: 0.8em;
}

.projectComponentDisplay ol{
	font-size: 0.8em;
}

.treeDrawing{
	width: 60%;
	margin-right: -100;
	float: left;

}
.smallerScreenshot_a{
	width:80%;
	float: left;
}

.smallerScreenshot_b{
	width:70%;
		float: right;
		z-index: 20;
}

.ingredientsList{
	background-image: url(https://img00.deviantart.net/3c86/i/2013/327/d/9/very_old_paper_texture___free_for_personal_use_by_moonlight4ngel-d2ytt1r.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position-x: -20px;
	font-size: 0.7em;
	padding: 1em 1em 1em 1em;
	width: 50%;
	float: left;
	margin: 10px 10px 10px 10px;
}


#actualbody{
	background-color: black;
}
