<!doctype html>
<html ng-app="testApp">
<head>
	<title>
		Page Demoooo
	</title>

	<link rel="stylesheet" href= "../static/formdemocss.css">
	 <script src="../static/node_modules/angular/angular.min.js"></script>

	<script src= "../static/formdemocontrollers.js"></script>
</head>

<body>

		<div ng-controller='HelloController'>

    	<p>Group is {{group}}</p>

		</div>




<form action="post.html" method="post">

	<input type ="text" name="name"></input>

	<p><input type="submit" value="Send my Order"></p>

	<select name="sauce">
		<option value="tomato">Tomato</option>
		<option value="rosemary">Rosemary</option>
	</select>
</form>


<form action="issue.html" method="post">
	<input type = "submit" value="Send">
</form>

<p>
	<form action="/signup" method="post">
		 <input type="text" name="email"></input>
		 <input type="submit" value="Signup"></input>
	</form>

</p>

</body>
</html>
