
<!doctype html>
<html>
	<head>
		<title>Scavenger's Repo</title>
		<base href="/" />
		<!--	<script src = "https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.js"></script>-->
		<script src= "/controllers.js"></script>

		<meta charset="utf-8">

		<link href='http://fonts.googleapis.com/css?family=Sintony:400,700' rel='stylesheet' type='text/css'>
	<!--	<link rel="stylesheet" href="styles.css"> -->

		<style type ="text/css">

		body
		{
			background-color:#000000;
			background-image: radial-gradient(rgba(0,0,0,.2), rgba(1,0,0, 1)), url("https://s3-us-west-1.amazonaws.com/scavengers-repo.com/images/AutumnMoodBoard/960.jpg");
			background-attachment: fixed;
			background-position: center;
			background-repeat: no-repeat;
			background-size:cover;
		}

		p {
    margin: 200px
}

		h1
		{
			font-size:48px;
			margin-top:0;
			font-family:Arial, sans-serif;
			color:#DDD;
		}
		</style>
</head>




<body ng-app = "PythonicApp">


    <div id="banner">
        <h2> Hello {{ name }}!</h2>

				<svg>
					<defs>
						<filter id="apples">

        <img src = "https://s3-us-west-1.amazonaws.com/scavengers-repo.com/images/Screen+Shot+2017-01-24+at+9.19.35+PM.png" alt ="Over The Garden Wall">
			</filter>
		</defs>

			</svg>

		 </div>

		 <div>




		 </div>

		 <div ng-controller="myCtrl">
		 	<p>myControl</p>

		 	<p>
		 		{{products}}
		 	</p>
		 </div>



</body>


</html>
