
		body
		{
			background-color:#000000;
			background-image:url("https://s3-us-west-1.amazonaws.com/scavengers-repo.com/images/AutumnMoodBoard/960.jpg");

			background-attachment: fixed;
			background-position: center;
			background-repeat: no-repeat;
			background-size:cover;
		}
		p {
    margin: 200px
}

		h1
		{
			font-size:48px;
			margin-top:0;
			font-family:Arial, sans-serif;
			color:#DDD;
		}

  #banner {
    position: absolute;
    z-index: -1;
    top: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 200px;
  }
