body
	{
		background-color:#00060c;
		/*background-image:  radial-gradient(rgba(0,0,0,.5), rgba(1,0,0, 1)), url(https://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA17568_ip.jpg);*/
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
		white-space:inherit;
		font-size:1vw;

  }
#overlay0 {

		background-image: url("https://s3-us-west-1.amazonaws.com/scavengers-repo.com/images/WinterMoodBoard/gHQr2Tr.jpg");
		/* Create the parallax scrolling effect */
		background-attachment: fixed;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}
#overlay1 {

	background-image: url("https://s3-us-west-1.amazonaws.com/scavengers-repo.com/images/AutumnMoodBoard/960.jpg");

		/* Create the parallax scrolling effect */
		background-attachment: fixed;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
}

@font-face {
		font-family:"AugustaShadow";
		src: url('../app/fonts/Augusta-Shadow.ttf');
}

#contentContainer {
	min-height: 40vh;
	overflow-y: scroll;
	background-color:#0f0003;
	color: #e6edf7;

	margin-right: 20px;

	margin-top: 30vh;

	padding-left: 5%;
	padding-right: 5%;
	padding-bottom: 5%;
	border-style: double;
	border-width: medium;
	border-color: rgba(255,255,255,0.5);
	float: right;


}
@media only screen and (max-width: 320px) {
   body { font-size: 2em; }
}



button{
	text-shadow: 0 0 0.2em #a8cbff, 0 0 0.2em #a8cbff;
}

/*referring to div*/
.topMenu{
	margin: 0 auto;
	top: 0;

	left: 0;
	right: 0;
	padding: 10px 5px 5px 5px;
	text-align: center;

	text-transform: uppercase;
	font-weight: bold;
	font-size: 12px;
	color: #e6edf7;
	background-color:#0f0003;

	position: fixed;
	z-index: 5;

	border-color: rgba(255,255,255,0.8);
	border-width: 1px;
	border-bottom-style: solid;
	text-align: left;
	padding-left: 10px;
	text-shadow: 0 0 0.2em #a8cbff, 0 0 0.2em #a8cbff;
	vertical-align: middle;

}
.topHeader{
	text-align: left;
	float: left;
	font-size: 6px;
	text-shadow: 0 0 0.2em #a8cbff, 0 0 0.2em #a8cbff;
	margin-right: 50px;

}
.topsubtext{
	margin-left: 50px;
}
.bottomHeader{
	margin-left: 50px;
	text-align: left;
	float: left;
	font-size: 8px;
}

.circleImage{
	background-image: url("https://s3-us-west-1.amazonaws.com/scavengers-repo.com/images/VoidRune2.png");
	width: 40px;
	height: 40px;

	position: fixed;

	background-position: center;
	background-origin:padding-box;
	background-size: 75px 45px;

  filter: grayscale(100%);

	-webkit-clip-path: circle(50% at 50% 50%);
clip-path: circle(50% at 50% 50%);



}

p.btn-flat{
	color: white;
	font-size: 1em;
}





.materialsDiv{
    background-color: rgba(255,255,255, .5);
    color: #e6edf7;
    padding: 1% 5% 1% 5%;
}

.dormantTab{
    display: none;
}
.activeTab{
    display: inline;
}

body.card.horizontal .card-image img{
	width: 50%;

}
body.activator{
	width: 505;
}


.card-image>img{
	  overflow: hidden;
}

.displayWebsiteIframe{
	height: 50%;

}

.card .card-image img{
	width: 70%;
}
/*-------  animations  ---------*/

@-webkit-keyframes fadeOut {
	0%    {opacity: 1;}
	50%  {opacity: 0; }
	100%  {opacity: 1; }
}
@-webkit-keyframes fadeIn{
	0%    {opacity: 0;}
	50%  {opacity: 1; }
	100%  {opacity: 0; }
}


#parallax {

		background-color: black;
    min-height: 500px;
    /* Create the parallax scrolling effect */
  	background-attachment: fixed;
  	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
		margin-top: 10px;
}
#smallParallax1{
	background-image: url("https://s3-us-west-1.amazonaws.com/scavengers-repo.com/images/AutumnMoodBoard/960.jpg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 500px;
	z-index: 0;
	width: 100%;
	position: absolute;
	animation: fadeOut 30s infinite;
}
#smallParallax2{
		background-image: url("https://images2.alphacoders.com/735/thumb-1920-735771.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
    z-index: 1;
    position: absolute;
    width: 100%;
	animation: fadeIn 30s infinite;
}

.bannerContainer{
	margin: 0 auto;
	height: 120px;
	position: relative;
	top: calc(1vh - 100px);
	width: 100%;
	background-repeat: repeat;
	background-position: center;
	z-index: 1;
}
.banner{

  top: calc(50vh - 100px);

	margin: 0 auto;
	height: 120px;
	position: relative;

	padding-top: 0.1px;
	padding-bottom: 0.1px;
	color: #e6edf7;

	width: 100%;
	background-color: #0f0003;
	opacity:0.95;
	background-repeat: repeat;
	background-position: center;
	z-index: 1;
	text-align : center;
}


.bannerShape{
	text-align: center;
	padding-top: 100px;
	padding-bottom: 100px;
	background-color:#0f0003;

	z-index: 2;
	opacity: .95;
	margin-right: auto;
	margin-left: auto;
	height: 300px;
	width: 400px;
	position: relative;
  top: calc(90vh - 200px);
	color: #e6edf7;


	-webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}


.CenterText{
	margin-right: auto;
	margin-left: auto;
	font-size: 2.5em;
	text-align: center;
	text-shadow: 0 0 0.2em #a8cbff, 0 0 0.2em #a8cbff;;

}

/*-------------------------
/*----- Side Menu Materials */
#sideMenu{
	background-color:#0f0003;

	color: #e6edf7;
	float: left;
	margin-left: 1px;
	width: 20vw;

	margin-top: 30vh;
	border-style: solid;

	text-align: center;

	border-style: double;
	border-width: thin;
	border-color: rgba(230, 237, 247,0.2);
	text-shadow: 0 0 0.2em #a8cbff, 0 0 0.2em #a8cbff;

	padding-left: 1vw;
	padding-right: 1vw;

}
.sideMenuItem{
	font-size: 80%;
	padding: 4px 30px 4px 4px;

	word-wrap: break-word;
	font-size: 1.5em;
	min-height: 4vw;
	min-width: 15vw;


	background: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0, 1));
	text-overflow: ellipsis;
	text-align: right;

	border-color: white;

	border-left-style: none;
	border-bottom-style: none;
	border-right-style: solid;
	border-color: rgba(255,255,255, 0.2);
	border-right-width: thin;
}

.sideMenuItem:hover{
	font-size:160%;
	font-weight: bold;

}

.sideMenuItem:active{
	font-size:150%;
		text-decoration-line: underline;
}

.menuImg{
	width: 15vw;
	height: 15vw;
	margin-left: auto;
	margin-top: 10px;
}

ul.sideMenuLinks{
		list-style-type: none;
    padding: 0;
    overflow: hidden;

}
li.sideMenuLinksLI{
	float: left;
}

a.sideMenuLinksA{
	display: block;
    color: white;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
}

.sideMenuLinksA:hover{
	background-color: #111;
}


.v1 {
    border-top: 1px solid white;
    height: 35px;
		border-style: solid;
		width: 1px;
		border-width: 1px;
		position: absolute;
		margin-left: 220px;
		margin-top: 5px;
}

/*-------------------------
/*----- Project Card Components */


.projectCardBody{
	background-color: rgba(255,255,255,1);
	background-image: url(styles.css);
	padding: 10px 10px 10px 10px;
	width: 30em;
	height: 25em;
	top: 0px;
	left: 0px;

	display: inline-block;
	text-align: center;
	margin-top: auto;

	text-shadow: 3px 3px #000000;

}
.projectCardBody:hover{
	-webkit-filter: brightness(50%); /* Safari */
	filter: brightness(60%);
	color: white;
	text-shadow: 0 0 1em #a8cbff, 0 0 1em #a8cbff;
	text-decoration-color: white;
  background-color: gray;

}

.projectCenterText{
	margin-top: 25%;
	font-size: 1em;
}
a.specialLink{
	

}
