body
	{
		background-color:#000000;
		/*background-image: radial-gradient(rgba(0,0,0,.2), rgba(1,0,0, 1)), url(https://s3-us-west-1.amazonaws.com/scavengers-repo.com/images/AutumnMoodBoard/960.jpg);*/
		background-attachment: fixed;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
		white-space:inherit;
		font-size:1vw;
		text-overflow: ellipsis;
  }
#overlay{
	z-index: -1;
	}


@font-face {

			font-family:"AugustaShadow";
			src: url('../app/fonts/Augusta-Shadow.ttf');
			/*font-family: "cardinal";
			src: url('../app/fonts/Cardinal.ttf');*/
}

#contentContainer {
	background-color: rgba(255, 255, 255, 0.5);
	padding-left: 5%;
	padding-right: 5%;
}

#bannerText{
	text-shadow: 2px -1px 1.5px rgba(51,22,1, .9);
	font-family:"AugustaShadow";
	color: black;
	z-index: -1;
	font-weight: 600;
	font-size: 3vw;
	float: right;
	vertical-align: bottom;
	background-image: url(https://s3-us-west-1.amazonaws.com/scavengers-repo.com/images/Banner2017_1.png);
	background-position: center;
	background-repeat: no-repeat;
	margin-top: .2em;

	padding-top: 3vw;

	padding-right: 1vw;
	padding-left: 4.4em;

  width: 100%;


}

@media screen and (min-width: 500px) {
	body{
		  font: underline;
	}
}



@media only screen and (max-width: 320px) {

   body { font-size: 2em; }

}
p {
    color: white;
}

button{
	border-style: none;
	text-align: right;
	text-overflow: ellipsis;
}

.btn-flat {
    color: white;
}

li {
	padding-top: 2%;
	padding-bottom: 2%;
	text-align: right;
	list-style-type: none;
	font-size: 1vw;
	display: block;



}

li:hover{
	background: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255, 0.8));

}


/*referring to div*/
.sideMenu{
  background: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255, 0.3));
	text-align: right;

}

.sideMenuItem{
	white-space: nowrap;
	font-size:150%;

	border-style: none;
	font-weight: bold;
	font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
	background: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255, 0.5));
	text-overflow: ellipsis;
}


.sideMenuItem:active{
	text-overflow: ellipsis;
}




.MainMenu{
    list-style-type: none;
    color: rgba(255,255,255, 0.8);
    border-top-style:solid;
    border-bottom-style: solid;
    background-color: rgba(0, 0, 0, 0.5);
    border-width: 2px;

}


.MenuItem {
   display: inline;
   padding: 10vw;
   color: white;

}

.materialsDiv{
    background-color: rgba(255,255,255, .5);
    color: white;
    padding: 1% 5% 1% 5%;
}

.dormantTab{
    display: none;
}
.activeTab{
    display: inline;
}
